@***************@
@*Reusable Code*@
@***************@
@*This is the Animal Table Partial View. It is rendered on any page where animals are listed,
    such as the View All Animals and Interactive Map pages. A partial view allows this table to reused
    on multiple pages without rewriting the code.
*@

@model IList<Safari.Web.ViewModels.AnimalViewModel>

@if (Model.Any())
{
    <table id="AnimalTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].FilePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].States)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AnimalTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DietTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Length)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].IsEndangered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Lifespan)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*For each Animal object contained in the AnimalViewModel, display it if it has an "Approved" status.*@
            @foreach (var item in Model)
            {
                if (item.IsApproved == true)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src="@item.FilePath?version=@DateTime.UtcNow.Ticks" alt="@item.AltText" style="max-width:100px; max-height:100px;">
                        </td>
                        <td>
                            @*List the states the animal can be found in. If there are less than 5 states, display them all.
                                If there are more than 5 states, display the first 5 states followed by an ellipsis.*@
                            @if (item.States.Count <= 5)
                            {
                                @string.Join(", ", item.States)
                            }
                            else
                            {
                                @string.Join(", ", item.States.Take(5)) <span>. . .</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnimalTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DietTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Length)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsEndangered)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lifespan)
                        </td>

                        <td>
                            <a asp-page="./Details" asp-route-id="@item.AnimalId">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
@*If there are no animals in the database, display "No animals found" instead of a table. *@
else
{
    <p>No animals found.</p>
}

@*This file does not contain any JavaScript for the DataTables, because it behaves unpredictably if 
    used in a partial view.*@