@*This is the Delete Image page, which can be accessed by Administrators
    by selecting an animal image from the Moderate Images page.*@

@page
@model Safari.Web.Pages.Admin.DeleteImagePageModel

@{
    ViewData["Title"] = "Delete Image";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimalPic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.FilePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.FilePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.AltText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.AltText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.DateSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.DateSubmitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPic.Animal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPic.Animal.Name)
        </dd>
    </dl>

    <form method="post">
        @*The AnimalPicId and FileName properties is hidden, 
            but still present on the form because they are needed to process the delete action.*@
        <input type="hidden" asp-for="AnimalPic.AnimalPicId" />
        <input type="hidden" asp-for="AnimalPic.FileName" />
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-secondary" asp-page="./AdminImages">Back to List</a>
            </div>            
        </div>
    </form>
</div>
